$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bicolor: linear-gradient($secondary-color, $primary-color);
$reverse-bicolor:  linear-gradient($primary-color, $secondary-color);
$color-text-white: white;
$bckd-new: #8febc0;
$text-new: #2f805a;
$background-color: #f5f5ef;
$box-shadow: #eaeae1;

@font-face 
{
    font-family: 'roboto';
    src: url('../roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'shrikhand';
    src: url('../Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

@keyframes main {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

@keyframes load {
    0%{
        transform: rotate(0deg);
        visibility: visible;
    }
    100% {
        transform: rotate(360deg);
        visibility: hidden;
    }

}

@keyframes apparition {
    0% {
        opacity: (0);
        transform: scale(0)
    }
    100% {
        opacity:(1);
        transform: scale(1.1);
    }
}

*
{
    text-decoration: none;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}
body
{
    padding: 0;
    margin: 0;
    .spinner
    {
    animation: load 2s both linear;
    font-size: 50px;
    color: grey;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    left: 50%;
    } 
    #delay
    {
        animation: main 1s 2s both;
    }
    header
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        img
        {
            height: 30px;
            padding: 20px 0 5px 0;
        }
        #location
        {
            background-color:#eaeae1;
            padding: 15px;
        }
        #reservation
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $background-color;
            padding: 30px 5px 50px 5px;
            font-size: 17px;
        }
        h1 
        {
        font-size: 24px;
        }
        #explore
        {
            padding: 17px;
            width: 200px;
            background: $bicolor;
            border-radius: 30px;
            color: $color-text-white;
            box-shadow: 0 0 5px 0 gray;
            cursor: pointer;
            &:hover {
                opacity: (0.9);
                box-shadow: 0px 0px 5px 2px gray;
           }
        }
    }
#fonction
{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    cursor: pointer;
    h2
        {
            padding-left: 10px;
        }
    .choices
    {
        position: relative;
        padding: 25px;
        margin: 15px;
        width: 280px;
        background-color: $background-color;
        border-radius: 20px;
        box-shadow: 0px 0px 6px 2px $box-shadow;
        font-weight: bold;
        &:hover {
            background-color: #F7F7F7;
            box-shadow: 0px 0px 12px 4px $box-shadow;
        }
    }
    .icon
    {
        color:gray;
        margin: 0 10px;
        font-size: 20px;
    }
    .miam
    {
        color: $primary-color;
    }
    .numbers
    {
        position: absolute;
        left:-20px;
        bottom: 15px;
        background-color: $primary-color;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        margin:5px;
        color:$color-text-white;
    }
    
}
    
#restaurant
    {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        background-color: $background-color;
        padding: 20px 0 50px 0;
        h2
        {
            padding-left: 20px;
        }
    .menu
    {
        position: relative;
        border-radius: 20px;
        box-shadow: 0 0 5px 0 black;
        width: 335px;
        height: 250px;
        margin: 10px;
        padding-bottom: 5px;
        align-self: center;
        background-color: white;
        cursor: pointer;
    .coeur
    {
        right: 50px;
        bottom: 50px; 
        position: absolute;
    }
    input[name=heart-checkbox]
    {
        position: absolute;
        z-index: 2;
         opacity: (0);
         cursor: pointer;
    }
    input:checked + label
    {
        .full-heart {
        animation: apparition 0.3s both linear;
        }
    }
    .empty-heart
    {
        background-color: white;
        position: absolute;
        font-size: 25px;
        cursor: pointer;

    }
    .full-heart
    {
        background: $reverse-bicolor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        font-size: 25px; 
        opacity: (0);  
        cursor: pointer;
    }
    }
    .new
    {
        position: absolute;
        color: $text-new;
        background-color: $bckd-new;
        padding: 8px 13px;
        top: 15px;
        right: 10px;
        border-radius: 3px;
        font-weight: bold;
    }
    h3
    {
        margin: 15px 0 0 15px;
        font-size: 18px;
    }
    p 
    {
        margin: 5px 0 0 15px;
        font-size: 18px;
    }
    a
    {
        color: black;
    }
    .pic
    {
    height: 175px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;  
    border-radius: 20px 20px 0 0;
    }
    .text
    {
        padding: 0;
        margin: 0;
    }
    .img1
    {
    background-image: url("../images/restaurants/restaurant1.jpg");
    }
    .img2
    {
    background-image: url("../images/restaurants/restaurant2.jpg");
    background-position: 40% 60%;
    }
    .img3
    {
    background-image: url("../images/restaurants/restaurant3.jpg");
    }
    .img4
    {
    background-image: url("../images/restaurants/restaurant4.jpg");
    }
}
footer
{
    background-color: rgb(54, 47, 47);
     color:$color-text-white;
     font-size: 15px;
     padding: 20px;
    a
    {
        color: $color-text-white;
    }
    img
    {
        filter: invert(100%);
        height: 17px;
        padding-bottom: 10px;
    }
    .foot
    {
        margin: 6px;
    }
}

@media all and (max-width: 360px)
{
    #fonction {
            .choices {
                 width: 240px;
                 padding: 20px;
            }
        }
    #restaurant {
            .menu {
                width: 280px;
            }
        }
}

}
@media all and (min-width: 700px)
{
    #fonction
    {
        align-items: center;
    }
    h2
    {
        align-self: center;
    }
}

@media all and (min-width:1120px)
{
    #restaurant
    {
        input:hover + label
            {
                .full-heart {
                animation: apparition 0.3s both linear;
                }
            }
    }
}